
.App {
  color: blue;
  background: linear-gradient(35deg, rgb(186, 226, 153), rgb(182, 222, 224));
  border: 1px solid black;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.main {
  border: 1px solid black;
  background: linear-gradient(35deg, rgb(153, 153, 226), pink);
  margin-top: 50px;
  width: 90%;
  height: 80vh;
  padding: 20px;
  div {
    border: 1px solid black;
    background: linear-gradient(35deg, rgb(186, 226, 153), rgb(182, 222, 224));
  }
  .photoAndDiscription {
    background: none;
    display: flex;
    border: none;
    width: 100%;
    height: 70%;
    // padding: 10px;
    gap: 10px
  }
  .buttons {
    background: none;
    display: flex;
    border: none;
    justify-content: space-around;
  }
}

.photoHolder {
  width: 70%;
  height: 100%;
  // margin: 10px;
}
.discription {
  width: 30%;
  height: 100%;
  // margin: 10px;
}
.buttonsBread {
  width: 200px;
  height: 100px;
  margin: 20px;
}
.buttonChangePhoto {
  width: 200px;
  height: 100px;
  margin: 20px;
}